<div class="section">
  <div class="about-content">
    <div class="text">
      <div>
        <i class="fas fa-hand intro-icon"></i> Hi there! I'm Weiyan,
        <i class="fas fa-volume-up pronunciation-icon" title="pronounced"></i>
        WAY-yen.
      </div>
      <div>
        I'm currently a Ph.D. student at
        <a href="https://www.cailab.info/" target="_blank"
          >Context-Aware Interaction Lab</a
        >,
        <a href="https://sutd.edu.sg/" target="_blank"
          >Singapore University of Technology and Design (SUTD)</a
        >.
      </div>
      <div class="research-interest">
        My research explores
        <span class="research-term"
          ><i class="fas fa-user research-icon human-icon"></i>human</span
        >
        interaction with
        <span class="research-term"
          ><i class="fas fa-robot research-icon ai-icon"></i>multimodal AI</span
        >, focusing on how humans and AI can mutually
        <span class="research-term"
          ><i class="fas fa-arrows-left-right research-icon align-icon"></i
          >align</span
        >
        their understanding and
        <span class="research-term"
          ><i class="fas fa-comments research-icon communication-icon"></i
          >communication</span
        >
        for better collaboration.
      </div>
      <div class="link-list">
        <a
          href="https://x.com/weiyanshi6"
          target="_blank"
          aria-label="X"
          title="X"
        >
          <i class="fab fa-x-twitter x-icon"></i>
        </a>
        <a
          href="https://orcid.org/0009-0001-6035-9678"
          target="_blank"
          aria-label="ORCID"
          title="ORCID"
        >
          <i class="fab fa-orcid orcid-icon"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/shiweiyan"
          target="_blank"
          aria-label="LinkedIn"
          title="LinkedIn"
        >
          <i class="fab fa-linkedin linkedin-icon"></i>
        </a>
        <a
          href="https://scholar.google.com/citations?user=ywi8b0EAAAAJ&hl=en"
          target="_blank"
          aria-label="Google Scholar"
          title="Google Scholar"
        >
          <i class="ai ai-google-scholar scholar-icon"></i>
        </a>
      </div>
      <br />
      <div>
        <i class="fas fa-envelope contact-icon" title="email"></i>
        <span
          id="email"
          class="copy-email"
          data-email="weiyanshi6@gmail.com"
          onclick="copyEmail(this)"
          >weiyanshi6 [at] gmail [dot] com</span
        >
      </div>
    </div>
    <div class="profile-pic">
      <img src="images/weiyan/weiyan.png" alt="Profile Photo" />
    </div>
  </div>
</div>
