<div class="section">
  <h2>Awards</h2>
  <ul>
    <li>
      [09/2024] SUTD PhD President’s Graduate Fellowship (PGF) by
      <span class="highlight">SUTD & Ministry of Education, Singapore</span>
    </li>
    <li>
      [05/2023] Singapore International Pre-Graduate Award (SIPGA) by
      <span class="highlight">A*STAR, Singapore</span>
    </li>
    <li>
      [10/2019] National Scholarship (Top 2%) by
      <span class="highlight">Ministry of Education, China</span>
    </li>
    <li>
      [10/2018] National Scholarship (Top 2%) by
      <span class="highlight">Ministry of Education, China</span>
    </li>
  </ul>
</div>
