<div class="section">
    <h2>Awards</h2>
    <ul>
        <li>[09/2024] Presidential Graduate Fellowship by <span class="highlight">SUTD & MOE, Singapore</span></li>
        <li>[05/2023] Singapore International Pre-Graduate Award by <span class="highlight">A*STAR, Singapore</span>
        </li>
        <li>[10/2019] National Scholarship by
            <span class="highlight">Ministry of Education, China</span>
        </li>
        <li>[10/2018] National Scholarship by
            <span class="highlight">Ministry of Education, China</span>
        </li>
    </ul>
</div>