<div class="section">
  <h2>Awards</h2>
  <ul>
    <li>
      [09/2024]
      <a
        href="https://www.sutd.edu.sg/admissions/graduate/scholarship/sutd-graduate-fellowships-scholarships/"
        target="_blank"
        >SUTD PhD President’s Graduate Fellowship (PGF)</a
      >
      by <span class="highlight">SUTD & Ministry of Education, Singapore</span>
    </li>
    <li>
      [05/2023]
      <a
        href="https://www.a-star.edu.sg/Scholarships/for-undergraduate-studies/singapore-international-pre-graduate-award-sipga"
        target="_blank"
        >Singapore International Pre-Graduate Award (SIPGA)
      </a>
      by <span class="highlight">A*STAR, Singapore</span>
    </li>
    <li>
      [10/2019] National Scholarship (Top 2%) by
      <span class="highlight">Ministry of Education, China</span>
    </li>
    <li>
      [10/2018] National Scholarship (Top 2%) by
      <span class="highlight">Ministry of Education, China</span>
    </li>
  </ul>
</div>
