<div class="section">
  <h2>Education</h2>
  <ul>
    <li>
      [09/2024 - 06/2028] Ph.D. | Human–Computer Interaction | <span class="uni">SUTD</span>
      <img
        class="icon"
        src="images/school/sutd.jpg"
        alt=""
      />
      | supervised by
      <a href="https://kennychoo.net/" target="_blank">Prof. Kenny Choo</a>
    </li>
    <li>
      [09/2021 - 06/2024] Master | Software Engineering | <span class="uni">Peking University</span>
      <img
        class="icon"
        src="images/school/pku.png"
        alt=""
      />
      | supervised by
      <a
        href="https://scholar.google.com/citations?user=qn8CqEYAAAAJ&hl=en"
        target="_blank"
        >Prof. Daqing Zhang, IEEE Fellow</a
      >
    </li>
    <li>
      [09/2017 - 06/2021] Bachelor | Software Engineering | <span class="uni">Beijing Institute of Technology</span>
      <img
        class="icon"
        src="images/school/bit.svg"
        alt=""
      />
    </li>
  </ul>
</div>
