<div class="section">
  <h2>Experience</h2>

  <h3>Mentoring</h3>
  <ul>
    <li>
      [03/2026 - Present] Darryl Lim | <span class="uni">SUTD</span> |
      <span>STEP Master Programme</span>
    </li>
    <li>
      [10/2025 - Present] Chong Zheng Goh | <span class="uni">SUTD</span> |
      <span>STEP Master Programme</span>
    </li>
    <li>
      [10/2025 - Present] Felix Teo | <span class="uni">SUTD</span> |
      <span>STEP Master Programme</span>
    </li>
    <li>
      [05/2025 - 08/2025] Sunaya Upadhyay | <span class="uni">CMU Qatar</span> |
      <span>Visiting Undergraduate Student</span>
    </li>
    <li>
      [09/2024 - 05/2025] Le Viet Hai | <span class="uni">SUTD</span> | Undergraduate Research
      Opportunities Programme
    </li>
  </ul>

  <h3>Teaching Assistantships</h3>
  <ul>
    <li>
      <span class="uni">SUTD</span> 60.005 HCI and AI ('25 fall, '26 fall), 50.006 User Interface Design and Implementation ('25 summer), 50.038
      Computational Data Science ('25 spring)
    </li>
    <li>
      <span class="uni">Peking University</span> Fundamentals of Artificial Intelligence ('23 fall)
    </li>
  </ul>
  
  <!-- <ul>
    <li>
      <div class="pp-name">SUTD</div>
      <ul>
        <li>[09/2025 - 12/2025] Course: 60.005 Human–Computer Interaction and Artificial Intelligence</li>
        <li>[05/2025 - 08/2025] Course: 50.006 User Interface Design and Implementation</li>
        <li>[01/2025 - 04/2025] Course: 50.038 Computational Data Science</li>
      </ul>
    </li>
    <li>
      <div class="pp-name">Peking University</div>
      <ul>
        <li>[02/2023 - 06/2023] Course: Fundamentals of Artificial Intelligence</li>
      </ul>
    </li>
  </ul> -->
</div>
