<div class="section">
  <h2>Experience</h2>

  <h3>Mentoring</h3>
  <ul>
    <li>
      [05/2025 - 08/2025] Sunaya Upadhyay | CMU Qatar |
      <span>Visiting Undergraduate Student</span>
    </li>
    <li>
      [09/2024 - 05/2025] Le Viet Hai | SUTD |
      Undergraduate Research Opportunities Programme
    </li>
  </ul>

  <h3>Teaching Assistantships</h3>
  <ul>
    <li>
      <div class="pp-name">SUTD</div>
      <ul>
        <li>[09/2025 - 12/2025] Course: 60.005 Human–Computer Interaction and Artificial Intelligence</li>
        <li>[05/2025 - 08/2025] Course: 50.006 User Interface Design and Implementation</li>
        <li>[01/2025 - 04/2025] Course: 50.038 Computational Data Science</li>
      </ul>
    </li>
    <li>
      <div class="pp-name">Peking University</div>
      <ul>
        <li>[02/2023 - 06/2023] Course: Fundamentals of Artificial Intelligence</li>
      </ul>
    </li>
  </ul>

  <h3>Research and Industry Experience</h3>
  <ul>
    <li>[08/2023 - 01/2024] Research Assistant at I²R, A*STAR</li>
    <li>[03/2022 - 09/2022] Machine Learning Engineer Intern at DiDi</li>
    <li>[11/2021 - 02/2022] Machine Learning Engineer Intern at NIO</li>
    <li>
      [09/2020 - 09/2021] Software Development Engineer Intern at Kuaishou
    </li>
  </ul>
</div>
