<div class="header">
  <h1 class="site-title">
    <span>Weiyan Shi</span>
    <span class="chinese-name">石唯妍</span>
    <img
      src="/images/favicon/android-chrome-192x192.png"
      alt="icon"
      class="site-icon"
    />
  </h1>

  <nav>
    <a href="#about">About</a>
    <a href="#news">News</a>
    <a href="#overview">Projects</a>
    <a href="#publications">Publications</a>
    <a href="#education">Education</a>
    <a href="#awards">Awards</a>
    <a href="#services">Services</a>
    <a href="#experience">Experience</a>
    <a href="#my">Misc</a>
  </nav>
</div>
