<div class="section">
  <h2>Misc</h2>
  <div class="about-content">
    <div class="text">
      <div>
        When I’m not doing research, you’ll find me on stage doing stand-up
        comedy. I perform with
        <a href="https://www.cancancomedy.com/" target="_blank"
          >Cancan Comedy | 侃侃喜剧</a
        >
        in Singapore, and I also share bits of my life on RedNote (小红书).
        <img
          class="icon"
          src="https://diplo-media.s3.eu-central-1.amazonaws.com/2024/12/XiaohongshuLOGO.svg.png"
          alt="RedNote Logo"
        />
        — welcome to follow me
        <a
          href="https://www.xiaohongshu.com/user/profile/59d1ff8820e88f5d269026f7"
          target="_blank"
        >
          @蟑螂妈妈</a
        >
        (1.8k+ followers).
      </div>
    </div>
    <div>
      <div class="band-frame">
        <img
          class="rednote-pic"
          src="images/weiyan/talk.jpg"
          alt="standup Photo"
        />
      </div>
    </div>
  </div>
</div>
