<div class="section">
    <h2>My</h2>
    <div class="about-content">
        <div class="text">
            <div>
                If possible, I’d love to be a <span>researcher</span> by day and a <span>livehouse rocker</span> by
                night 🎸🤘—looks like a workaholic, but actually just living a double life 😆.
            </div>
            <div>
                I love <span class="highlight">Chinese indie
                    music</span>. My favorite artist is
                <a href="https://www.instagram.com/cheer___chen/" target="_blank">Cheer Chen (陳綺貞, Taiwan)</a>, and
                my
                favorite bands are <a href="https://www.youtube.com/@mylittleairport" target="_blank">my little
                    airport (Hong Kong)</a>, <a href="www.youtube.com/@nopartyforcaodong" target="_blank">No Party
                    for Cao Dong (草東沒有派對, Taiwan)</a>, and <a href="www.youtube.com/@dirtyfingers3333"
                    target="_blank">Oh! Dirty Fingers (脏手指, Mainland
                    China)</a>.
                The best part? I’ve seen all of them live!!! 🤯🎶
            </div>
        </div>
        <div class="band-pic">
            <img src="images/weiyan/band.jpg" alt="band Photo">
        </div>
    </div>
</div>