<div class="section">
  <h2>News</h2>
  <ul>
    <li>
      [02/2025] 🎉 <span class="highlight2">First-author</span> conference paper on
      <span class="highlight"
        >Multimodal LLMs' understanding of parent-child interaction</span
      >
      👧🏻 has been accepted at
      <span class="highlight">CHI 2025 Late Breaking Work</span>. Thanks to all
      collaborators! Looking forward to meeting fellow researchers in
      <span class="highlight2">Yokohama, Japan</span> 🌸.
    </li>

    <li>
      [11/2024] 🎉 Co-authored journal paper on
      <span class="highlight">WiFi-based indoor localization</span> accepted by
      <span class="highlight">TMC'25</span>. Thanks to all collaborators!
    </li>

    <li>
      [09/2024] 👩‍💻 Started my PhD journey at
      <a href="https://sutd.edu.sg/" target="_blank">SUTD</a>, awarded the
      <a
        href="https://www.sutd.edu.sg/admissions/graduate/scholarship/sutd-graduate-fellowships-scholarships/"
        target="_blank"
      >
        SUTD PhD President’s Graduate Fellowship (PGF)</a
      >
      thanks to the nomination by
      <a href="https://kennychoo.net/" target="_blank">Prof. Kenny Choo</a>.
    </li>

    <li>
      [06/2024] 👩‍🎓 Successfully defended my master's thesis and obtained an MSc
      degree from
      <a href="https://www.pku.edu.cn/" target="_blank">Peking University</a>,
      thanks to the guidance of
      <a
        href="https://scholar.google.com/citations?user=qn8CqEYAAAAJ&hl=en"
        target="_blank"
        >Prof. Daqing Zhang, IEEE Fellow</a
      >.
    </li>
    <li>
      [03/2024] 🎉 Co-authored journal paper on
      <span class="highlight">WiFi-based indoor diffraction zone sensing</span>
      accepted by <span class="highlight">TMC'24</span>, extending our
      <span class="highlight">UbiComp'23 Poster</span>. Thanks to all
      collaborators!
    </li>

    <li>
      [08/2023] 👩‍💻 Joined
      <a href="https://www.a-star.edu.sg/i2r" target="_blank">I2R, A*STAR</a> as
      a research assistant, collaborating with
      <a
        href="https://scholar.google.com/citations?user=0jbZBjAAAAAJ&hl=en"
        target="_blank"
        >Dr. Haihong Zhang</a
      >. Worked on gaze pattern analysis in autistic children using eye
      tracking.
    </li>
    <li>
      [07/2023] 🎉 <span class="highlight2">First-author</span> conference paper
      on
      <span class="highlight">WiFi-based indoor human behavior detection</span>
      accepted at <span class="highlight">UbiComp'23 Poster</span>. Thanks to
      all collaborators!
    </li>
  </ul>
</div>
