<div class="section">
  <h2>News</h2>
  <ul>
    <li>
      [11/2025] 📣 First-author poster on speech–sketch
      ideation with multimodal LLMs accepted at AAAI '26 workshop 🇸🇬.
    </li>
    <li>
      [06/2025] 📣 Co-authored poster on emerging disinformation scenarios
      involving LLMs accepted at CSCW '26 Poster 🇳🇴.
    </li>
    <li>
      [02/2025] 📣 First-author poster on multimodal LLMs understanding in
      parent–child interaction accepted at CHI '25 LBW 🇯🇵.
    </li>
    <li>
      [11/2024] 📣 Co-authored paper on WiFi indoor localisation accepted at IEEE Transactions on Mobile Computing.
    </li>
    <li>
      [09/2024] 👩‍💻 Started PhD journey at SUTD funded by the Presidential
      Graduate Fellowship 🇸🇬.
    </li>
    <li>[06/2024] 👩‍🎓 Obtained MSc degree from Peking University 🇨🇳.</li>
    <li>
      [03/2024] 📣 Co-authored paper on WiFi diffraction zone sensing accepted
      at IEEE Transactions on Mobile Computing.
    </li>
    <li>
      [07/2023] 📣 First-author poster on WiFi human behaviour detection
      accepted at UbiComp/ISWC '23 Poster 🇲🇽.
    </li>
  </ul>
</div>
