<div class="section">
    <h2>News</h2>
    <ul>
        <li>[10/2024] 📄 One co-authored journal paper accepted by <span class="highlight">TMC 2024</span></li>
        <li>[09/2024] 📄 One co-authored conference paper accepted at <span class="highlight">ICHCI 2024</span></li>
        <li>[03/2024] 📄 One co-authored journal paper has been accepted by <span class="highlight">TMC 2024</span></li>
        <li>[08/2023] 📄 One <span class="highlight">first-author</span> conference paper accepted at <span
                class="highlight">UbiComp/ISWC 2023 Poster & Demo</span></li>
    </ul>
</div>