<div class="section">
  <h2>Press Coverage</h2>
  <ul>
    <li>
      <span class="date-tag">08/2026</span>
      <span class="ads">Root Access</span>
      <a
        href="https://www.youtube.com/watch?app=desktop&v=InDKnclF4Ic"
        target="_blank"
        >What If You Could Sketch & Talk to AI? | The Future of Creative AI
        with Weiyan Shi and Holly Song</a
      >
    </li>
    <li>
      <span class="date-tag">07/2026</span>
      <span class="ads">Digital Trends</span>
      <a
        href="https://www.digitaltrends.com/computing/gemini-can-make-sense-of-the-world-around-you-but-dont-let-it-observe-your-children-just-yet/"
        target="_blank"
        >Gemini can make sense of the world around you, but don’t let it observe
        your children just yet</a
      >
    </li>
    <li>
      <span class="date-tag">02/2026</span>
      <span class="ads">LIANHE ZAOBAO (联合早报)</span>
      <a
        href="https://www.zaobao.com.sg/news/singapore/story20260212-8353510"
        target="_blank"
        >SUTD students develop a new app to lower the barrier to drawing and 3D printing
        | 新科大学生研发新应用 降低绘图与3D打印门槛</a
      >
    </li>
  </ul>
</div>
