<div class="section">
    <h2>Publications</h2>

    <div class="publication">
        <p class="papertitle">SigCan: Toward Reliable ToF Estimation Leveraging Multipath Signal Cancellation on
            Commodity WiFi Devices</p>
        <p>Yang Li, Dan Wu, Jiahe Chen, <span class="highlight">Weiyan Shi</span>, Leye Wang, Lu Su, Wenwei Li, Daqing
            Zhang*</p>
        <p><span class="highlight">[TMC 2024]</span> <em>IEEE Transactions on Mobile Computing</em></p>
        <a target="_blank" href="https://doi.org/10.1109/tmc.2024.3491337">[Paper]</a>
    </div>

    <div class="publication">
        <p class="papertitle">Contrastive Learning for Knowledge-Based Question Generation in Large Language Models</p>
        <p>Zhenhong Zhang, Jiajing Chen, <span class="highlight">Weiyan Shi</span>, Lingjie Yi, Chihang Wang, Qian Yu
        </p>
        <p><span class="highlight">[ICHCI 2024]</span> <em>2024 5th International Conference on Intelligent Computing
                and Human-Computer Interaction
            </em></p>
        <a target="_blank" href="https://ieeexplore.ieee.org/abstract/document/10808104">[Paper]</a>
    </div>

    <div class="publication">
        <p class="papertitle">Understanding the Diffraction Model in Static Multipath-Rich Environments for WiFi Sensing
            System Design</p>
        <p>Xuanzhi Wang, Anlan Yu, Kai Niu, <span class="highlight">Weiyan Shi</span>, Junzhe Wang, Zhiyun Yao, Rahul C
            Shah, Hong Lu, Daqing Zhang*</p>
        <p><span class="highlight">[TMC 2024]</span> <em>IEEE Transactions on Mobile Computing</em></p>
        <a target="_blank" href="https://ieeexplore.ieee.org/abstract/document/10480395/">[Paper]</a>
    </div>

    <div class="publication">
        <p class="papertitle">WiCross: I Can Know When You Cross Using COTS WiFi Devices</p>
        <p><span class="highlight">Weiyan Shi</span>, Xuanzhi Wang, Kai Niu, Leye Wang, Daqing Zhang*</p>
        <p><span class="highlight">[UbiComp/ISWC 2023 Poster]</span> <em>Adjunct Proceedings of the 2023
                ACM International Joint Conference on Pervasive and Ubiquitous Computing & the 2023 ACM
                International Symposium on Wearable Computing</em>
        </p>
        <a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/3594739.3610706">[Paper]</a>
    </div>

</div>