<div class="section">
  <h2>Selected Publications</h2>

  <div class="publication-wrapper">
    <img class="conf-logo" src="images/pub/chi26.png" alt="" />

    <div class="publication">
      <p class="papertitle">
        Towards Aligning Multimodal LLMs with Human Experts: A Focus on Parent-Child Interaction
      </p>
      <p>
        <span class="name">Weiyan Shi</span>, Kenny Tsu Wei Choo*
      </p>
      <p class="highlight">
        <span class="pp-name">[CHI 2026]</span> Proceedings of the 2026 CHI Conference on Human Factors in Computing Systems
      </p>
      <a target="_blank" href="https://arxiv.org/abs/2511.04366">[arXiv]</a>
    </div>
  </div>

  <div class="publication-wrapper">
    <img class="conf-logo" src="images/pub/aaai26clip.png" alt="" />

    <div class="publication">
      <p class="papertitle">
        TalkSketch: Multimodal Generative AI for Real-time Sketch Ideation with Speech
      </p>
      <p>
        <span class="name">Weiyan Shi</span>, Sunaya Upadhyay, Geraldine Quek, Kenny Tsu Wei Choo*
      </p>
      <p class="highlight">
        <span class="pp-name">[AAAI 2026 Workshop]</span> <span class="ranka">[Oral]</span> The 40th Annual AAAI Conference on Artificial Intelligence Workshop on Creative AI for Live Interactive Performances
      </p>
      <a target="_blank" href="https://arxiv.org/abs/2511.05817">[arXiv]</a>
      <a target="_blank" href="https://www.youtube.com/watch?v=DxlvvrrZcOw">[Video]</a>
    </div>
  </div>


  <div class="publication-wrapper">
    <img class="conf-logo" src="images/pub/chi25.png" alt="CHI 2025 Logo" />

    <div class="publication">
      <p class="papertitle">
        Towards Multimodal Large-Language Models for Parent-Child Interaction: A
        Focus on Joint Attention
      </p>
      <p>
        <span class="name">Weiyan Shi</span>, Hai Viet Le, Kenny Tsu Wei Choo*
      </p>
      <p class="highlight">
        <span class="pp-name">[CHI 2025 Late Breaking Work]</span> Extended Abstracts of the 2025 ACM
        CHI Conference on Human Factors in Computing Systems
      </p>
      <a
        target="_blank"
        href="https://dl.acm.org/doi/full/10.1145/3706599.3720215"
        >[paper]</a
      >
      <a target="_blank" href="https://arxiv.org/abs/2502.19877">[arXiv]</a>
      <a target="_blank" href="https://www.youtube.com/watch?v=SWNo_XaYB7o">[Video]</a>
    </div>
  </div>
  <div class="publication-wrapper">
    <img class="conf-logo" src="images/pub/ubicomp23poster.png" alt="" />
    <div class="publication">
      <p class="papertitle">
        WiCross: I Can Know When You Cross Using COTS WiFi Devices
      </p>
      <p>
        <span class="name">Weiyan Shi</span>, Xuanzhi Wang, Kai Niu, Leye Wang,
        Daqing Zhang*
      </p>
      <p class="highlight">
        <span class="pp-name">[Ubicomp/ISWC 2023 Poster]</span> Adjunct Proceedings of the 2023
        ACM International Joint Conference on Pervasive and Ubiquitous Computing
        & the 2023 ACM International Symposium on Wearable Computing
      </p>
      <a
        target="_blank"
        href="https://dl.acm.org/doi/abs/10.1145/3594739.3610706"
        >[Paper]</a
      >
      <a target="_blank" href="https://arxiv.org/abs/2503.20331">[arXiv]</a>
    </div>
  </div>
</div>
