<div class="section">
  <h2>Services</h2>
  <ul>
    <li><strong>Associate Chair:</strong> <span class="pp-name">CHI</span> '26 Poster Track, <span class="pp-name">DIS</span> '26 PWiP Track</li>
    <li><strong>Student Volunteer:</strong> <span class="pp-name">ICHEC (Prev. Chinese CHI)</span> '25, <span class="pp-name">DIS</span> '26</li>
    <li><strong>Session Chair:</strong> <span class="pp-name">CHI</span> '26</li>
    <li><strong>Reviewer:</strong> <span class="pp-name">CHI</span> ('25, '26), <span class="pp-name">CSCW</span> ('26), <span class="pp-name">MobileHCI</span> ('25), <span class="pp-name">ICWSM</span> ('25, '26)</li>
  </ul>
</div>
