<div class="section">
  <h2>Services</h2>

  <h3>Invited Talk</h3>
  <ul>
    <li>
      [11/2025] Invited talk: "Towards Human-Centred Multimodal AI" in Course
      60.005 HCI and AI at SUTD.
    </li>
    <li>
      [07/2025] Invited talk: "Towards Human-Centred Multimodal AI" in Course
      50.006 User Interface Design and Implementation at SUTD.
    </li>
  </ul>

  <h3>Conference Reviewer</h3>
  <ul>
    <li>CHI ('25, '26), CSCW ('26), MobileHCI (25'), ICWSM (25', 26')</li>
  </ul>
</div>
